python3-pyalsaaudio>=0.8.0  # Required for ALSA sound card detection in soundcard.py and soundcard_detector.py
cryptography
netifaces  # Required for network interface detection in sambaclient.py
hateeprom  # Required for HAT EEPROM reading in hattools.py
flask>=3.1.3  # Required for API server in server.py
waitress>=2.0.0  # Production WSGI server to prevent thread exhaustion
dbus
argcomplete  # Required for bash auto-completion of command-line arguments
bless>=0.2.5  # Required for BLE GATT server in ble_provisioning.py