Source: hifiberry-configurator
Section: python
Priority: optional
Maintainer: HiFiBerry <support@hifiberry.com>
Build-Depends: debhelper-compat (= 13),
    dh-python,
    pybuild-plugin-pyproject,
    python3-all,
    python3-setuptools,
    python3-pip,
    python3-wheel,
    i2c-tools,
    pkg-config,
    libffi-dev,
    libssl-dev
Standards-Version: 4.1.4
Homepage: https://www.hifiberry.com/

Package: hifiberry-configurator
Architecture: any
Depends: ${python3:Depends},
    ${misc:Depends},
    systemd,
    hifiberry-eeprom,
    avahi-daemon,
    uuid,
    i2c-tools
Recommends: samba-common-bin,
    smbclient
Description: HiFiBerry system configuration scripts
 System configuration scripts for HiFiBerry OS, including
 volume storage and restoration functionality.
